*{
    padding: 0%;
    margin: 0;
}

.headerPro{
    display: flex;
}
.headerPro > *{
    padding-right: 10%;
    text-align: center;
    margin-left: 8%;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
    flex-direction: row;
    flex: auto;
}
article{
    flex: 2;
    overflow-y:auto;
    display: flex;
}
aside{
    flex: 1;
    overflow-y:auto;
}

.texto{
    text-align: center;
}
h1, h2{
    text-align: center;
}

.sizeText{
    font-size: 18px;
    text-align: center; 
}



body{
    background-image: url('https://i.imgur.com/2iPNRK3.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}
.mainImage{
    margin-left: 15%; 
    width: 70%;
    height: 70%;
}
header{
    margin-left: 15%;
    width: 70%;
    background-color: transparent;
    
}
aside{
    background-color: transparent;
}

footer{
    background-color: transparent;
    color: green;
    opacity: 0.8;
    margin-left: 15%;
    width: 70%;
}

.buttonAdopt{
    width: 70%;
    margin-left: 15%;
    background-color: yellowgreen;
    
    color: green;
}
.separatorLine{
    width: 70%;
    margin-left: 15%    
}